@import '~antd/es/style/themes/default.less';

.detailWrap {
  :global {
    .ant-spin-container {
      height: calc(100vh - 260px);
    }
    div > .ant-spin {
      max-height: unset;
    }
  }
}

.nextPrevWrap {
  :global {
    div .ant-spin.ant-spin-spinning {
      display: none;
    }
  }
}

:global {
  .detailModalTitle {
    display: flex;
    justify-content: space-between;
    padding-right: 60px;
    .ant-btn-text {
      height: 22px;
      padding: 0;
      line-height: 22px;
    }
  }
}
