@import '~antd/es/style/themes/default.less';

.runtimeContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  .formSelect {
    margin-bottom: 15px;
    :global {
      .ant-select-selection-item {
        .ant-tag {
          display: none;
        }
      }
    }
  }
  .fabricDiv {
    height: calc(100vh - 143px);
  }
}
