@import '~antd/es/style/themes/default.less';

.runtimeContainer {
  .formSelect {
    margin: 12px 20px;
    :global {
      .ant-select-selection-item {
        .ant-image,
        .ant-tag {
          display: none;
        }
        .ant-image {
          margin-left: 10px;
        }
      }
    }
  }
  :global {
    .ant-pro-page-container-children-content {
      margin: 0;
    }
  }
  .fabricDiv {
    height: calc(100vh - 104px);
  }
}

:global {
  .hasUid {
    .ant-select-item-option-content {
      .ant-image {
        flex-shrink: 0;
      }
    }
  }
}
