@import '~antd/es/style/themes/default.less';

.runtimeContainer {
  .formSelect {
    margin: 12px 20px;
    :global {
      .ant-select-selection-item {
        .ant-tag {
          display: none;
        }
      }
    }
  }
  :global {
    .ant-pro-page-container-children-content {
      margin: 0;
    }
  }
  .fabricDiv {
    height: calc(100vh - 104px);
  }
}
