@import '~antd/es/style/themes/default.less';
.fabricContainer {
  display: flex;
  height: 100%;
  background: #141414;
  .leftMsg {
    width: 20%;
    min-width: 250px;
    background: #141414;
    .alarm {
      background: #d22a42;
    }
    .ok {
      background: #00ba80;
    }
    :global {
      .ant-card {
        width: 100%;
        font-size: 23px;
        text-align: center;
      }
      .ant-pro-card-body {
        overflow: auto;
      }
    }
    .defectDetail {
      :global {
        .ant-descriptions-item-content {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          .ant-tag {
            margin-bottom: 12px;
          }
        }
      }
    }
  }
  .canvasContainer {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
  }
}
